.notice_board_body {
    display: flex;
    gap:16px;
}

.notice_board_main_container p{
    font-size: 14px;
    margin-top: 15px;
  
}

.notice_board_main_container {
    width: 95%;
}



.noticeBoardDate{
    text-align: end;
    font-weight: bold;
}
.noticeBoardName{
    text-align: start;
    font-weight: bold;
}

.notice_board_right_part {

    /* border: 1px solid red; */
    text-align: justify;
    width: 80%;
    padding:20px;
    margin-top: 5px; 
  
} 


.notice_board_header_part {
    margin-right: 10px;
}

.notice_board_body_main {
    width: 100%;
}



.notice_board_blog1 {
    display: flex;
    gap:20px !important;
    padding: 10px;
    margin-top: 0 !important;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.notice_board_blog1 img {
    width: 220px;
}





.header_blog_details {
    font-size: 36px;
    font-weight: 800;
}

.notice_board_blog_cotesion {
    padding: 5px;
}




.notice_board_blogHeader {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 10px 20px;
    position: static;
    height: 50px;
    border-radius: 5px;
    top: 2px;
}

.Navbarleft {
    display: flex;
    gap: 10px;
}

.Navbarright {
    display: flex;
    gap: 10px;
}

.navHeader {
    font-size: 16px;
    font-weight: bold;
}

.myAccountSearch {
    padding: 0px;
    margin-bottom: 14px;
    margin-top: 11px;
}

